<div class="media-m">
	<div style="margin-left: 50px">
		<div class="media-left">
			<a href="#"> <img class="media-object" class="img-circle"
				src="//placehold.it/100" alt="..."
				style="width: 35px; height: 35px">
			</a>
		</div>
		<div class="media-body" style="height: 40px;">
			<p class="Comment"
			style="width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
				<font size="2px" class="replyofreply" style="width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{{reply}}}</font>
			</p>			
			<input type="text" class="updateCommentOfComment" value="">
			<ul class="list-inline">
				<li class="updateReplyOfReply" value="{{replyNo}}"><a href="#"><i
						class="glyphicon glyphicon-comment"></i><font size="2px">수정</font></a></li>
				<li class="deleteReplyOfReply" value="{{replyNo}}"><a href="#"><i
						class="glyphicon glyphicon-share"></i><font size="2px">삭제</font></a></li>
				<li><p>
						<font size="2px">{{regTime}}</font>
					</p></li>
			</ul>
		</div>
	</div>
</div>