@CHARSET "UTF-8";

.templist{
    position: absolute;
    width: 100%;
    height: 100%;
}

#carousel-example-generic{
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.carousel-inner{
    position: absolute;
    height: 100%;
}

div.item h5{
	color:white;
	font-family:Jeju Gothic;
  font-size: 30px;
}
div.item * {
	color:white;
	font-family:Jeju Gothic;
	margin-top: 10px;
	margin-bottom:0px;
}

input#updateTitle{
	color: black;
  margin:auto;
  border:0;
  padding-top:5px;
  border-radius:5px;
  text-align: center;
  
}


