@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css); 

canvas {
	outline: none;
}

#timelinec{
}
#timeline {
	position: absolute;
	right:0px;
  width:240px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index:100;
  margin-top:-50px;
  overflow-y: auto;
}
#titleImageBox{
	width: 180px; 
	height: 40px; 
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.childKeyword {
	max-width:50px;
	font-size: 11px; 
	font-family: Jeju Gothic; 
	padding:2px; 
	padding-top:3px; 
	margin-right:4px; 
	margin-top:-1px;
	border-radius:5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
  display:inline-block;
  cursor:pointer;
}

.parentKeyword {
	max-width:80px;
	font-size: 11px; 
	font-family: Jeju Gothic; 
	padding:2px;
	margin-top:-1px;
	border-radius:5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
  display:inline-block;
  cursor:pointer;
}

.keywordName{
	max-width:165px;  
	font-size: 20px;
	font-family: Jeju Gothic; 
	padding:2px; 
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
  display:inline-block;
  cursor:pointer;
}


#parentKeyword{
	max-width:80px;
	font-size: 11px; 
	font-family: Jeju Gothic; 
	padding:2px; 
	margin-top:-1px;
	border-radius:5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
  display:inline-block;
  cursor:pointer;
}

.keyword{
	width: 180px; 
	height: 108px; 
	padding:8px; 
	border-radius: 15px;
}

.keywordBox{
	position:relative;
	width:190px; 
	height:108px; 
	margin-top:15; 
	display:none;
}

.timeLineAddButton{
	width:70px; 
	height:108px;
	padding-top:15px;
	padding-left:11px;
	border-radius: 15px;
	background:#F39C12;
	color:white;
	font-family: "jeju Gothic";
	font-weight: bold;
}
.timeLineCopyButton{
	width:70px; 
	height:108px;
	padding-top:15px;
	padding-left:11px;
	border-radius: 15px;
	background:#7E44AD;
	color:white;
	font-family: "jeju Gothic";
	font-weight: bold;
}
.keywordUser{
	max-width:70px;
	font-size: 11px;
	font-family: Jeju Gothic; 
	padding:2px;  
	color:white;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
  display:inline-block;
  cursor:pointer;
}

#temp {
	position: absolute;
	padding-top:70px;
	left:0px;
  width:100px;
  height:100%;
  background-color: #ccc;
  z-index:100;
}

#content{
	position: absolute;
	bottom:0;
  width:100%;
  height: 350px;
  background-color: #2ECC71;
  z-index:100;
}

/* #reply{ */
/* 	position: absolute; */
/* 	padding-top:70px; */
/*   width:280px; */
/*   height: 200px; */
/*   background-color: #ddd; */
/*   z-index:100; */
/*  	left:22%; */
/*  	top:30%; */
/* } */

#mypage{
	position: absolute;
	padding-top:50px;
	top:0;
  width:100%;
  height: 350px;
  background-color: #ddd;
  z-index:100;
}

#userpage{
	position: absolute;
	padding-top:50px;
	top:0;
  width:100%;
  height: 350px;
  background-color: #ddd;
  z-index:100;
}

#treelist{
	position: absolute;
	margin-top:1%;
	left:0px;
  width:200px;
  height: 300px;
  background-color: #FFFFFF;
  z-index:100;
}

#friendlist{
	position: absolute;
	padding-top:70px;
	right:0px;
  width:200px;
  height: 400px;
  background-color: #ddd;
  z-index:100;
  margin-top:-50px;
}

.nano { background: #bba; width: 500px; height: 500px; }
.nano .nano-content { padding: 10px; }
.nano .nano-pane   { background: #888; }
.nano .nano-slider { background: #111; }
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
