@CHARSET "UTF-8";

.templist{
    position: absolute;
    left: 70px;
    width: 60%;
    height: 100%;
}

#carousel-example-generic{
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.carousel-inner{
    position: absolute;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

div.item {
	color:white;
	font-family:Jeju Gothic;
	
}
div.item.active {
	color:white;
	font-family:Jeju Gothic;
	margin-top: 5%;
}
input#updateTitle{
	color: black;
    background-color: inherit;
    margin:auto;
    border-style: hidden;
    text-align: center;
  
}


