@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css); 

canvas {
	outline: none;
}

#timelinec{
}
#timeline {
	position: absolute;
	right:0px;
  width:230px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index:100;
  overflow-y: auto;
}
#timeline::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}


#titleImageBox{
	width: 180px; 
	height: 40px; 
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.childKeyword {
	max-width:50px;
	font-size: 11px; 
	font-family: Jeju Gothic; 
	padding:2px; 
	padding-top:3px; 
	margin-right:4px; 
	margin-top:-1px;
	border-radius:5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
  display:inline-block;
  cursor:pointer;
}

.parentKeyword {
	max-width:80px;
	font-size: 11px; 
	font-family: Jeju Gothic; 
	padding:2px;
	margin-top:-1px;
	border-radius:5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
  display:inline-block;
  cursor:pointer;
}

.keywordName{
	max-width:165px;  
	font-size: 20px;
	font-family: Jeju Gothic; 
	padding:2px; 
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
  display:inline-block;
}


#parentKeyword{
	max-width:80px;
	font-size: 11px; 
	font-family: Jeju Gothic; 
	padding:2px; 
	margin-top:-1px;
	border-radius:5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
  display:inline-block;
  cursor:pointer;
}

.keyword{
	width: 180px; 
	height: 108px; 
	padding:8px; 
	border-radius: 15px;
	cursor:pointer;
}

.keywordBox{
	position:relative;
	width:190px; 
	height:108px; 
	margin-top:15; 
	display:none;
}

.timeLineAddButton{
	width:70px; 
	height:108px;
	padding-top:15px;
	padding-left:11px;
	border-radius: 15px;
	background:#F39C12;
	color:white;
	font-family: "jeju Gothic";
	font-weight: bold;
}
.timeLineCopyButton{
	width:70px; 
	height:108px;
	padding-top:15px;
	padding-left:11px;
	border-radius: 15px;
	background:#7E44AD;
	color:white;
	font-family: "jeju Gothic";
	font-weight: bold;
}
.keywordUser{
	max-width:70px;
	font-size: 11px;
	font-family: Jeju Gothic; 
	padding:2px;  
	color:white;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
  display:inline-block;
  cursor:pointer;
}

#temp {
	position: absolute;
	padding-top:70px;
	left:0px;
  width:100px;
  height:100%;
  background-color: #ccc;
  z-index:100;
}

#content{
	position: absolute;
	bottom:0;
  width:100%;
  height: 350px;
  background-color: #2ECC71;
  z-index:100;
}

/* #reply{ */
/* 	position: absolute; */
/* 	padding-top:70px; */
/*   width:280px; */
/*   height: 200px; */
/*   background-color: #ddd; */
/*   z-index:100; */
/*  	left:22%; */
/*  	top:30%; */
/* } */

#mypage{
	position: absolute;
	top:0;
  width:100%;
  height: 350px;
  background-color: #ddd;
  z-index:100;
}

#userpage{
	position: absolute;
	top:0;
  width:100%;
  height: 350px;
  background-color: #ddd;
  z-index:100;
}

#treelist{
	position: absolute;
	margin-top:1%;
	left:0px;
  width:200px;
  height: 300px;
  background-color: #FFFFFF;
  z-index:100;
}

#friendlist{
	position: absolute;
	padding-top:70px;
	right:0px;
  width:200px;
  height: 400px;
  background-color: #ddd;
  z-index:100;
  margin-top:-50px;
}
