<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd.mybatis-3-config.dtd">

<mapper namespace="ContentMapper">

	<resultMap type="content" id="contentSelectMap">
		<result property="contentNo" column="content_no" jdbcType="NUMERIC" />
		<result property="keywordNo" column="keyword_no" jdbcType="NUMERIC" />
		<result property="content" column="content" jdbcType="CLOB" />
		<result property="photo" column="photo" jdbcType="VARCHAR" />
		<result property="scrap" column="scrap" jdbcType="NUMERIC" />
		<result property="regDate" column="reg_date" jdbcType="DATE" />
	</resultMap>
	
	
	<!-- SQL : INSERT -->
	<insert id="addContent" parameterType="content">
		INSERT
		INTO contents(content_no, keyword_no, content, photo, reg_date)
		VALUES (seq_contents_content_no.nextval,
				#{keywordNo:NUMERIC},
				#{content:CLOB},
				#{photo:VARCHAR},
				 SYSDATE )
	</insert>
	
	
	<!-- SQL : SELECT ONE -->
	<select id="getContent" parameterType="int" resultMap="contentSelectMap">
		SELECT
		content_no, keyword_no, content, photo, scrap, reg_date
		FROM contents
		WHERE content_no = #{value}
	</select>
	
	
	<!-- SQL : UPDATE -->
	<update id="updateContent" parameterType="content">
		UPDATE contents
		<set>			
			content = #{content:CLOB},
			photo = #{photo:VARCHAR}
		</set>
		WHERE content_no = #{contentNo}
	</update>
	
	
		<!-- SQL : UPDATE -->
	<update id="updateScrapContent" parameterType="content">
		UPDATE contents
		<set>			
			scrap = #{scrap:NUMERIC}
		</set>
		WHERE content_no = #{contentNo}
	</update>
	
	
	<!-- SQL : DELETE -->
	<delete id="deleteContent"	parameterType="int">
		DELETE
		FROM contents
		WHERE content_no = #{value}
	</delete>
	

</mapper>
