<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd.mybatis-3-config.dtd">

<mapper namespace="keywordMapper">

	<resultMap id="keywordSelectMap" type="keyword">
		<result property="key" column="KEYWORD_NO" jdbcType="INTEGER"/>
		<result property="treeNo" column="TREE_NO" jdbcType="INTEGER"/>
		<result property="copyNo" column="COPY_NO" jdbcType="INTEGER"/>
		<result property="keyword" column="KEYWORD" jdbcType="VARCHAR"/>
		<result property="collapse" column="COLLAPSE" jdbcType="INTEGER"/>
		<result property="parent" column="PARENT_KEYWORD_NO" jdbcType="INTEGER"/>
		<result property="color" column="COLOR" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="select-keywords">
		SELECT
		KEYWORD_NO, TREE_NO, COPY_NO, KEYWORD, COLLAPSE, PARENT_KEYWORD_NO, COLOR
		FROM KEYWORDS
	</sql>
	
	<insert id="addKeyword" parameterType="keyword">
		INSERT
		INTO	KEYWORDS
		VALUES( #{key}, #{treeNo}, #{copyNo}, #{keyword}, #{collapse}, #{parent} , #{color})
	</insert>

	<update id="updateKeyword" parameterType="keyword">
		UPDATE KEYWORDS
		<set>
			TREE_NO = #{treeNo}, 
			KEYWORD = #{keyword}, 
			COLLAPSE = #{collapse},
			COPY_NO = #{copyNo},
			PARENT_KEYWORD_NO = #{parent}, 
			COLOR = #{color}
		</set>
		WHERE KEYWORD_NO = #{key} 
	</update>
	
	<select id="listChildKeyword" parameterType="java.lang.Integer" resultMap="keywordSelectMap">
		<include refid="select-keywords"/>
		WHERE PARENT_KEYWORD_NO = #{value}
	</select>

	<delete id="removeKeyword" parameterType="java.lang.Integer">
		DELETE FROM KEYWORDS WHERE KEYWORD_NO = #{value}
	</delete> 
	
	<select id="listSearchKeyword" parameterType="java.lang.String" resultMap="keywordSelectMap">
		SELECT * FROM (SELECT ROWNUM rn, tv.* FROM (
		<include refid="select-keywords"/>
		WHERE KEYWORD = #{value} 
		)tv)tv2
		WHERE
		rn BETWEEN 1 AND 7
	</select>
	
	<select id="listTimelineKeyword" parameterType="java.lang.Integer" resultMap="keywordSelectMap">
		SELECT * FROM (SELECT ROWNUM rn, tv.* FROM (
		SELECT k.* FROM trees t, keywords k, contents c
		WHERE
		t.tree_No = k.tree_No AND
		k.keyword_no = c.keyword_no AND
		(t.user_no = #{value} OR
		t.user_no IN(SELECT user_no2 FROM friends WHERE user_no = #{value}))
		ORDER BY c.reg_date DESC
		)tv)tv2
		WHERE rn BETWEEN 1 AND 7
	</select>
	
	<select id="listTreeKeyword" parameterType="java.lang.Integer" resultMap="keywordSelectMap">
		<include refid="select-keywords"/>
		WHERE TREE_NO = #{value} 
	</select>
	
	<select id="getKeywordNo" resultType="java.lang.Integer">
		select seq_keywords_keyword_no.nextval from dual
	</select>
	
	<select id="getKeyword" parameterType="java.lang.Integer" resultMap="keywordSelectMap">
		<include refid="select-keywords"/>
		WHERE KEYWORD_NO = #{value} 
	</select>
	
	<select id="autoComplete" resultType="java.lang.String">
		SELECT DISTINCT KEYWORD FROM KEYWORDS
	</select>

<!-- profil keywordList by shin 12/16  -->
	<select id="getMyKeyword" resultMap="keywordSelectMap" parameterType="int">
		SELECT * FROM 
			(SELECT ROWNUM rn, a.* FROM 
				(SELECT  
					color, 
					copy_no, 
					keyword, 
					keyword_no, 
					parent_keyword_no, 
					tree_no
				FROM keywords
				WHERE tree_no in(SELECT tree_no FROM trees WHERE user_no = 1000023)
				ORDER BY keyword_no DESC) a 
			) b
		WHERE rn BETWEEN 1 and 10
	</select>
	
	<select id="getUserNoKeyword" resultType="java.lang.Integer">
		SELECT u.user_no FROM users u, trees t, keywords k WHERE u.user_no = t.user_no and t.tree_no = k.tree_no and k.keyword_no = #{value}
	</select>
</mapper>